<div class="well">
	<p><%= @message %></p>
</div>
<div>
	<h3>About the Developer</h3>
	<p><img src="http://beckybair.wpengine.com/wp-content/uploads/2015/10/LickingFinger1.png" />
	<p>Becky Bair is a designer at heart.  From designing webpages and blogs to designing knitting patterns.  She has a son and a daughter who are all grown up.  Only 2 kitties and her boyfriend remains.  :)</p>
</div>